*{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
a {   text-decoration: none;  }  
a:hover, a:visited, a:link {  text-decoration: none; }  
li{
	list-style: none;
}
html,body{
	height: 100%;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mt20{
	margin-top: 20px;
}
.mb20{
	margin-bottom: 20px;
}
.mt16{
	margin-top: 16px;
}
.mr20{
	margin-right: 20px;
}
.ml10{
	margin-left: 10px;
}
.ml20{
	margin-left: 20px;
}
.ml80{
	margin-left: 80px;
}
.panel{
	border:none;
	box-shadow: 0 0 0;
}
.btn-primary a{
	color: #fff;
}
.btn-danger a{
	color: #fff;
}
.my-body{
	display: flex;
	flex-direction: row;
	background: #f3f3f4;
	overflow: hidden;
}
.sider-bar{
	display: flex;
	flex-direction: column;
	flex:0 1 220px;
	order:-1;
	background: #2f4050;
	color: #fff;
	overflow: auto;
}
.sider-profile{
	background: url("../img/header-profile.png") no-repeat;
	flex:0 0 171px;
	padding: 30px 0 0 32px;
	color: #DFE4ED;
	box-sizing: border-box;
}
.profile-img{
	height: 64px;
	width: 64px;
	border-radius: 32px;
	margin-bottom: 6px;
}
.profile-role{
	margin-top: 6px;
	color: #8095a8;
}
.sider-fun-w{
	color: #a7b1c2;
}
.sider-fun-w ul{
	padding-left:40px;
}
.sider-fun-w .active{
	color: #dadada;
	background: #293846;
}
.sider-title{
	cursor: pointer;
	height: 46px;
	line-height: 46px;
	font-weight: 800;
	padding-left:30px;
	box-sizing: border-box;
}

.sider-subtitle{
	cursor: pointer;
	height: 32px;
	line-height: 32px;
	font-weight: 400;
}
.sider-subtitle a, .sider-title a{
	color: #dadada;
	display: inline-block;
	width: 100%;
}
.sider-subtitle a:hover, .sider-title a:hover{
	color: #fff;
}
.sider-title:hover,.sider-subtitle:hover{
	color: #fff;
	background: #293846;
}

/*container*/
.my-container{
	display: flex;
	flex-direction: column;
	flex:1;
}
.my-header{
	flex:0 0 56px;
	background: #fff;
	line-height: 56px;
	color: #333;
	border-bottom: 2px solid #333;
	padding: 0 20px;
	font-weight: 600;
}
a.logoutbtn{
	display: inline-block;
	height: 100%;
	color: #333;
	padding: 0 20px;
	box-sizing: border-box;
}
a.logoutbtn:hover{
	color: #000;
	background: #eee;
}
.main{
	display: flex;
	flex:auto;
	margin: 20px;
	background: #fff;
	padding: 20px 30px 0;
	overflow: auto;
}
/*cluster*/
.clu-main{
	flex-direction: column;
}
.clu-main-t{
	flex: 0 0 40px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}
.clu-main-t .form-control{
	width: auto;
}
.clu-main-t button, .clu-main-t input{
	float: left;
	margin-right: 20px;
}
.clu-main-w{
	flex:auto;
	display: flex;
}
.clu-main-w-con{
	flex:1 1 auto;
	overflow: auto;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.panel-heading{
	color: #333;
    	background-color: #f5f5f5;
    	border-color: #ddd;
    	padding: 10px 15px;
    	font-size: 14px;
    	font-weight: 600;
    	margin-bottom: 10px;
}
.panel-body{
	padding-bottom: 10px;
}
.clu-main-w-con form{
	margin: 0;
}
/*volume*/
.vol-main{
	flex-direction: column;
}
.vol-main-t{
	flex: 0 0 40px;
}
.vol-main-w{
	display: flex;
	min-height: 80px;
	margin-bottom: 20px;
}
.vol-main-w-con{
	flex:1 1 auto;
	/*border: 1px solid #eee;*/
	overflow: auto;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.vol-main-w-gap{
	flex:0 1 20px;
}
.vol-main-w-list{
	display: block;
	box-sizing:border-box;
	width: 100%;
	height: 36px;
	line-height: 36px;
	padding-left: 20px;
	border-top:1px solid #eee;
	overflow:hidden;
	text-overflow:ellipsis;
}
/*storage*/
.storage-refresh-btn{
	display: block;
	position: absolute;
	right: 50px;
	top:101px;
	color: #333;
	width: 68px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background: #d8d4d4;
	border-radius: 5px;
}
.storage-refresh-btn:hover{
	background: #eee;
}
.clu-main td{
	max-width: 500px;
}
.vol-main-t{
	height: 40px;
	line-height: 40px;
	font-weight: 500;
	border-bottom:1px solid #eee;
	font-size: 16px;
	font-weight: 700;
}
/*volume add*/
.vol-add-form{
	width: 60%;
	max-width: 600px;
	min-width: 400px;
	margin:40px auto;
}
.vol-add-form-row{
	display: flex;
	flex:1 1 auto;
	width: 100%;
	margin-bottom: 20px;
}
.vol-add-form-row span{
	flex: 0 0 80px;
	height: 24px;
	line-height: 24px;
}
.vol-add-form-r{
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
}

/*account*/
.account-main{
	flex-direction: column;
}

/*performance*/
.performance-profile{
	margin-bottom: 20px;
	border-bottom: 2px solid #aaa;
}
.performance-profile h4{
	margin-bottom: 10px;
	font-size: 14px;
}
.performance-list{
	margin-bottom: 20px;
	border-bottom: 1px dotted #eee;
}
.performance-list th, .performance-list td{
	font-weight: 400;
	font-size: 12px;
}
.performance-list p{
	font-size: 14px;
}
/*breakdown*/
.breakdown-main-w-list{
	height: 48px;
	line-height: 48px;
}
/*init*/
.system-list{
	margin:0 4px 30px 4px;
	padding-bottom: 42px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.system-list-t{
	height: 56px;
	line-height: 56px;
	padding-left: 20px;
	font-size: 28px;
}
.system-list-desc{
	height: 56px;
	line-height: 56px;
	font-size: 14px;
	padding-left: 20px;
	border-bottom: 1px solid #eee;
}
.system-list button{
	float: right;
	margin-right: 20px;
}
.system-list .btn-primary a{
	color: #fff;
}
.system-list .btn-default a{
	color: #333;
}
.tab-content{
	padding-top:6px;
	margin-top: 10px;
}
.dashboard-con{
	flex:1 1 49%;
	height: 160px;
	padding: 30px;
	box-sizing:border-box;
	display: flex;
}
.dashboard-gap{
	flex:1 1 2%;
}
.dashboard-con-left{
	flex:1 1 40%;
	text-align: right;
	padding-right: 40px;
	line-height: 100px;
}
.dashboard-con-left span{
	font-size: 100px;
	color: #0f5ea7;
}
.dashboard-con-right{
	display: flex;
	flex-direction: column;
	flex:1 1 60%;
	font-size: 24px;
}
.dashboard-con-right p{
	flex:1 1 auto;
	line-height: 50px;
	margin: 0;
}
a.other-nv-a{
	color: #a7b1c2;
}